<script setup>
import { inject, ref } from "vue";
import { useStateStore } from "../store/state.js";

const socket = inject("socket");
const state = useStateStore();

function send(option) {
  socket.emit("message", {
    to: state.room,
    type: "input",
    data: { type: "vote", vote: option },
  });
  state.data = {};
  state.controller = "Wait";
}


defineExpose({ send });
</script>

<template>
  <div
    class="h-screen bg-gray-100 flex flex-col items-center justify-center gap-3 p-6 overflow-auto"
    :style="{
      color: state.colors[1],
    }"
  >
    <div v-for="option in state.data?.options" class="w-full">
      <button
        @click="send(option)"
        class="w-full bg-black text-white font-black p-4 rounded-lg border-2 border-white uppercase focus:ring-4 focus:ring-black"
        :class="{
        'text-sm': option.length > 50,
      }"
        :style="{
          background: state.colors[1],
        }"
      >
        {{ option }}
      </button>
    </div>
  </div>
</template>
