<script setup>
import { inject, onMounted, ref, watch } from "vue";
import { useStateStore } from "../store/state.js";
import { fabric } from "fabric";
import { useWindowSize } from "@vueuse/core";

const socket = inject("socket");
const state = useStateStore();

const canvasContainer = ref(null);
const canvasWrapper = ref(null);
let canvas = null;

// vue use witdht and heigh
const { width, height } = useWindowSize();

onMounted(() => {
  canvas = new fabric.Canvas(canvasContainer.value, {
    isDrawingMode: true,
  });
  canvas.freeDrawingBrush.color = state.colors[1];
  canvas.freeDrawingBrush.width = 10;

  // set height to fill wrapper element
  canvas.setWidth(canvasWrapper.value.offsetWidth);
  canvas.setHeight(canvasWrapper.value.offsetHeight);

  canvas.renderAll();
  canvas.on("touch:gesture", (e) => {
    e.e.preventDefault();
  });
  canvas.on("touch:drag", (e) => {
    e.e.preventDefault();
  });
  canvas.on("touch:orientation", (e) => {
    e.e.preventDefault();
  });
  canvas.on("touch:shake", (e) => {
    e.e.preventDefault();
  });
  canvas.on("touch:longpress", (e) => {
    e.e.preventDefault();
  });
});

function clear() {
  canvas.clear();
  canvas.renderAll();
}

const isPrompting = ref(false);
const prompt = ref("");
function checkSend() {
  if (!isPrompting.value) {
    const objects = canvas.getObjects();
    if (objects.length === 0) return;
  }
  if (state.data.prompt || prompt.value) {
    send();
  } else {
    isPrompting.value = true;
  }
}

const send = () => {
  const data = {
    type: "draw",
  };
  const objects = canvas.getObjects();
  if (objects.length === 0) {
    data.draw = null;
  } else {
    data.draw = canvas.toDataURL();
  }

  if (state.data.prompt) {
    data.prompt = state.data.prompt;
  } else {
    data.prompt = prompt.value;
  }
  socket.emit("message", {
    to: state.room,
    type: "input",
    data,
  });
  state.data = {};
  state.controller = "Wait";
};

const brushWidth = ref(10);

watch(brushWidth, (value) => {
  canvas.freeDrawingBrush.width = parseInt(value, 10);
});

defineExpose({ send });
</script>

<template>
  <div
    v-if="!isPrompting"
    class="flex flex-col items-center justify-around h-full bg-gray-100 px-4"
    :style="{
      color: state.colors[1],
    }"
  >
    <p
      class="text-xl font-bold uppercase bg-white shadow-lg px-4 text-center py-2"
      :class="{
        'text-lg': state.data?.prompt?.length > 30,
        'text-base': state.data?.prompt?.length > 50,
      }"
    >
      {{ state.data?.prompt || "Faça um desenho" }}
    </p>
    <div>
      <div class="flex items-center justify-evenly mb-4">
        <button
          type="button"
          @click="canvas.freeDrawingBrush.color = state.colors[0]"
        >
          <svg height="32" width="32" viewBox="0 0 16 16">
            <circle cx="8" cy="8" r="8" :fill="state.colors[0]" />
          </svg>
        </button>
        <button
          type="button"
          @click="canvas.freeDrawingBrush.color = state.colors[1]"
        >
          <svg height="32" width="32" viewBox="0 0 16 16">
            <circle cx="8" cy="8" r="8" :fill="state.colors[1]" />
          </svg>
        </button>

        <input
          class="w-1/2 h-4 rounded-full border-2 appearance-none"
          type="range"
          min="4"
          max="20"
          v-model="brushWidth"
        />

        <!-- <button type="button" @click="clear">limpar</button> -->
      </div>
      <div
        class="bg-white border-gray-300 border-2 aspect-3/4"
        ref="canvasWrapper"
      >
        <canvas class="h-full" ref="canvasContainer"></canvas>
      </div>
    </div>
    <div>
      <button
        class="bg-black text-white py-4 px-8 rounded-lg uppercase font-bold tracking-wider"
        @click="checkSend"
        :style="{
          background: state.colors[1],
        }"
      >
        pronto
      </button>
    </div>
  </div>
  <div
    v-else
    class="flex flex-col items-center justify-around h-full bg-gray-100 px-4"
    :style="{
      color: state.colors[1],
    }"
  >
    <form class="flex flex-col gap-8 items-center" @submit.prevent="checkSend">
      <div class="text-lg font-bold uppercase text-center py-2">
        Dê um título ao seu desenho
      </div>
      <input
        class="bg-white text-xl text-black border-2 w-full py-4 px-4 p-2 rounded-lg outline-none focus:ring-2 focus:ring-black"
        maxlength="80"
        minlength="1"
        autocapitalize="off"
        autocomplete="off"
        placeholder="Escreva aqui..."
        type="text"
        v-model="prompt"
      />
      <div class="flex gap-4">
        <button
          class="bg-black text-white py-4 px-8 rounded-lg uppercase font-bold tracking-wider"
          type="submit"
          :style="{
            background: state.colors[1],
          }"
        >
          Pronto
        </button>
      </div>

      <p v-if="state.data?.error">{{ state.data.error }}</p>
    </form>
  </div>
</template>

<style scoped>
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}
</style>
