<script setup>
import { inject, onMounted, ref, watch } from "vue";
import { useStateStore } from "../store/state.js";
import { fabric } from "fabric";
import AvatarTemplate from "../assets/avatar-template.png";

const socket = inject("socket");
const state = useStateStore();

const profile = ref({ ...state.profile });

const canvasContainer = ref(null);
const canvasWrapper = ref(null);
const brushWidth = ref(10);
let canvas = null;

onMounted(() => {
  canvas = new fabric.Canvas(canvasContainer.value, {
    isDrawingMode: true,
  });
  canvas.freeDrawingBrush.width = 4;
  canvas.freeDrawingBrush.color = state.colors[0] || "#000";
  if (profile.value.avatar) {
    // load from json
    const objects = profile.value.avatar.objects;
    if (objects.length === 0) return;
    const groups = {};
    objects.forEach((object) => {
      if (!groups[object.stroke]) {
        groups[object.stroke] = [];
      }
      if (object.type === "path") groups[object.stroke].push(object);
      else if (object.type === "group")
        object.objects.forEach((obj) => {
          if (!groups[obj.stroke]) {
            groups[obj.stroke] = [];
          }
          groups[obj.stroke].push(obj);
        });
    });
    console.log(groups);
    // update object colors
    Object.keys(groups).forEach((color, index) => {
      const objects = groups[color];
      objects.forEach((object) => {
        object.stroke = state.colors[index % 2];
      });
    });
    profile.value.avatar.objects = objects;
    canvas.loadFromJSON(profile.value.avatar);
  } else {
    const svgTemplate = `
  <svg  viewBox="0 0 198 215" fill="none" >
<circle cx="99" cy="67" r="63" stroke="${state.colors[1]}" stroke-width="8"/>
<path d="M193.5 214C193.5 174.5 144.511 131 99.5 131C54.4888 131 4 164.5 4 214.844" stroke="${state.colors[1]}" stroke-width="8"/>
</svg>`;
    // add svg from string
    fabric.loadSVGFromString(svgTemplate, (objects, options) => {
      var obj = fabric.util.groupSVGElements(objects, options);
      // scale and position
      obj.scaleToWidth(200);
      const scaled = obj.getScaledWidth();
      // center on canvas
      obj.set({
        left: 128 - scaled / 2,
        top: 90 - 100 / 2,
      });

      canvas.add(obj);
      canvas.renderAll();
    });
  }

  canvas.setWidth(256);
  canvas.setHeight(256);

  canvas.renderAll();
  canvas.on("touch:gesture", (e) => {
    e.e.preventDefault();
  });
  canvas.on("touch:drag", (e) => {
    e.e.preventDefault();
  });
  canvas.on("touch:orientation", (e) => {
    e.e.preventDefault();
  });
  canvas.on("touch:shake", (e) => {
    e.e.preventDefault();
  });
  canvas.on("touch:longpress", (e) => {
    e.e.preventDefault();
  });
});

function clear() {
  canvas.clear();
  const svgTemplate = `
  <svg  viewBox="0 0 198 215" fill="none" >
<circle cx="99" cy="67" r="63" stroke="${state.colors[1]}" stroke-width="8"/>
<path d="M193.5 214C193.5 174.5 144.511 131 99.5 131C54.4888 131 4 164.5 4 214.844" stroke="${state.colors[1]}" stroke-width="8"/>
</svg>`;

  // add svg from string
  fabric.loadSVGFromString(svgTemplate, (objects, options) => {
    var obj = fabric.util.groupSVGElements(objects, options);
    // scale and position
    obj.scaleToWidth(200);
    const scaled = obj.getScaledWidth();
    // center on canvas
    obj.set({
      left: 128 - scaled / 2,
      top: 90 - 100 / 2,
    });

    canvas.add(obj);
    canvas.renderAll();
  });
  canvas.renderAll();
}

watch(brushWidth, (value) => {
  canvas.freeDrawingBrush.width = parseInt(value, 10);
});

const error = ref(false);

function send() {
  error.value = false;
  if (profile.value.name === "" || profile.value.name === undefined) {
    error.value = 'O campo "Nome" não pode estar vazio';
    return;
  }

  if (profile.value.name.length > 20) {
    error.value = 'O campo "Nome" não pode ter mais de 20 caracteres';
    return;
  }

  const objects = canvas.getObjects();
  if (objects.length === 0) {
    error.value = "Você precisa desenhar um avatar";
    return;
  }

  const data = canvas.toDataURL({});
  profile.value.avatar = data;

  socket.emit("message", {
    to: state.room,
    type: "profile",
    profile: profile.value,
  });

  const localProfile = { ...profile.value };
  // canvas to json
  localProfile.avatar = canvas.toJSON();
  state.profile = localProfile;
  sessionStorage.setItem("profile", JSON.stringify(localProfile));
  state.showConfig = false;
}
</script>

<template>
  <div class="fixed top-0 left-0 w-full h-full bg-white">
    <div class="grid place-items-center min-h-screen">
      <div class="bg-white p-4 rounded-lg">
        <h1 class="text-2xl text-center">Crie seu perfil</h1>
        <form @submit.prevent="send" class="flex mt-8 flex-col gap-4">
          <div class="flex flex-col items-center justify-center gap-1">
            <input
              class="bg-black text-white p-2 rounded-lg"
              id="name"
              maxlength="20"
              minlength="1"
              type="text"
              v-model="profile.name"
              placeholder="Nome"
            />
          </div>
          <div class="flex mt-8 items-center justify-between">
            <button
              type="button"
              @click="canvas.freeDrawingBrush.color = state.colors[0]"
            >
              <svg height="16" width="16">
                <circle cx="8" cy="8" r="8" :fill="state.colors[0]" />
              </svg>
            </button>
            <button
              type="button"
              @click="canvas.freeDrawingBrush.color = state.colors[1]"
            >
              <svg height="16" width="16">
                <circle cx="8" cy="8" r="8" :fill="state.colors[1]" />
              </svg>
            </button>

            <input type="range" min="4" max="20" v-model="brushWidth" />

            <button type="button" @click="clear">limpar</button>
          </div>
          <div
            class="bg-white border-2 h-[258px] w-[258px]"
            ref="canvasWrapper"
          >
            <canvas ref="canvasContainer"></canvas>
          </div>

          <div class="flex mt-8 flex-col gap-2 items-center justify-center">
            <input
              class="bg-black text-white p-2 rounded-lg"
              type="submit"
              value="Salvar"
            />
            <p class="text-sm text-red-600" v-if="error">{{ error }}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
