<template>
  <button class="bg-gray-900 grid place-items-center w-full h-full p-4" @click="enter">
    <p class="text-white uppercase font-black tracking-wider text-xl">Toque aqui para abrir <br/>em tela cheia</p>
  </button>
</template>

<script setup>
import { useStateStore } from "../store/state.js";
import { useFullscreen } from "@vueuse/core";
const { isFullscreen, enter } = useFullscreen();

const state = useStateStore();
</script>
