<script setup>
import { inject, ref } from "vue";
import { useStateStore } from "../store/state.js";
import { useFullscreen } from "@vueuse/core";

const { isFullscreen, isSupported, enter, exit, toggle } = useFullscreen();
const socket = inject("socket");
const state = useStateStore();

const room = ref("");
const error = ref("");

const errorText = {
  "room-not-found": "Sala não encontrada",
  "room-full": "Sala cheia",
  "room-banned": "Você foi banido desta sala",
};

const joinRoom = () => {
  if (isSupported.value && !isFullscreen.value) {
    enter();
  }
  const payload = {
    room: room.value.toString(),
  };
  // if (sessionStorage.getItem("profile")) {
  //   payload.profile = JSON.parse(sessionStorage.getItem("profile"));
  // }

  socket.emit("joinRoom", payload, (response) => {
    if (response.error) {
      error.value = response.error;
      console.log(response.error);
      return;
    }

    state.room = room.value.toString();
  });
};

socket.on("roomCreated", (room) => {
  console.log(room);
});
</script>
<template>
  <div
    class="flex flex-col items-center justify-around h-full bg-gray-100 px-4"
  >
    <form
      class="flex flex-col gap-8 items-center justify-center"
      @submit.prevent="joinRoom"
    >
      <input
        placeholder="código da sala"
        class="bg-white text-xl text-black border-2 text-center py-4 px-4 rounded-lg outline-none focus:ring-2 focus:ring-black"
        type="number"
        v-model="room"
        stepper="false"
      />
      <button
        class="bg-black text-white py-4 px-8 rounded-lg uppercase font-bold tracking-wider"
        type="submit"
      >
        Entrar na sala
      </button>
      <p class="text-red-500 text-center" v-if="error || state.error">
        {{ errorText[error] || errorText[state.error] || error || state.error }}
      </p>
    </form>
  </div>
</template>
