<script setup>
import { inject, ref } from "vue";
import { useStateStore } from "../store/state.js";

const socket = inject("socket");
const state = useStateStore();

const errorText = {
  "same-prompt":
    "Isso já foi adicionado por outro jogador, tente enviar outra coisa",
};

const prompt = ref("");

function send() {
  socket.emit("message", {
    to: state.room,
    type: "input",
    data: { prompt: prompt.value, type: "prompt" },
  });
  state.data = {};
  state.controller = "Wait";
}
defineExpose({ send });
</script>

<template>
  <div
    class="flex flex-col items-center justify-around h-full bg-gray-100 px-4"
  >
    <form class="flex flex-col gap-8 items-center" @submit.prevent="send">
      <input
        class="bg-white text-xl text-black border-2 w-full py-4 px-4 p-2 rounded-lg outline-none focus:ring-2 focus:ring-black"
        maxlength="80"
        minlength="1"
        autocapitalize="off"
        autocomplete="off"
        placeholder="Escreva aqui"
        type="text"
        v-model="prompt"
      />
      <button
        class="bg-black text-white py-4 px-8 rounded-lg uppercase font-bold tracking-wider"
        type="submit"
        :style="{
          background: state.colors[1],
        }"
      >
        Pronto
      </button>
      <p
        class="text-red-500 text-center"
        v-if="state.data?.error && errorText[state.data.error]"
      >
        {{ errorText[state.data.error] }}
      </p>
    </form>
  </div>
</template>
