<template>
  <div
    class="grid place-items-center h-full"
    :style="{
      background: state.colors[0],
      color: state.colors[1],
    }"
  >
    <div class="flex gap-1">
      <p class="text-2xl text-white font-black uppercase outiline-text-black">
        Reconectando
      </p>
      <div
        class="inline-block text-2xl text-white font-black outiline-text-black"
      >
        <div class="inline-block animate-[bounce_1s_infinite_250ms]">.</div>
        <div class="inline-block animate-[bounce_1s_infinite_350ms]">.</div>
        <div class="inline-block animate-[bounce_1s_infinite_450ms]">.</div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { inject, ref } from "vue";
import { useStateStore } from "../store/state.js";

const socket = inject("socket");
const state = useStateStore();


</script>
