<template>
  <div
    class="grid place-items-center h-full"
    :style="{
      background: state.colors[0],
      color: state.colors[1],
    }"
  >
  <div class="flex gap-1">

    <p
      class="text-2xl text-white font-black uppercase   outiline-text-black"
    >
      Aguarde
    </p>
    <div class=" inline-block text-2xl text-white font-black outiline-text-black">
      <div class="inline-block animate-[bounce_1s_infinite_250ms]"> . </div>
      <div class="inline-block animate-[bounce_1s_infinite_350ms]"> . </div>
      <div class="inline-block animate-[bounce_1s_infinite_450ms]"> . </div>
    </div>
  </div>
    <button class="bg-white p-4 rounded-full shadow-lg" @click="notify">
      <svg
        class="h-10 w-10 transition-all"
        :class="{ 'scale-150 -rotate-45': activeMessage }"
        viewBox="0 0 32 32"
      >
        <path
          fill="currentColor"
          class="sketchy_een"
          d="M29.998,25.092c-0.053-0.728-0.041-1.464-0.051-2.193c-0.014-0.796-0.01-1.59-0.019-2.386  c-0.01-0.757-0.041-1.512-0.072-2.269c-0.031-0.777-0.043-1.553-0.053-2.33c-0.018-1.456-0.019-2.914-0.006-4.37  c0.008-0.71-0.012-1.421-0.008-2.129c0.002-0.531,0-1.063-0.002-1.596c-0.002-0.343-0.029-0.683-0.029-1.026  c0-0.235-0.123-0.437-0.3-0.571c-0.074-0.132-0.17-0.25-0.301-0.328c-0.134-0.076-0.278-0.115-0.432-0.117  c-0.154,0.002-0.298,0.041-0.432,0.117c-0.044,0.02-0.087,0.039-0.131,0.058c-0.747,0.281-1.506,0.531-2.245,0.838  C25.168,7.1,24.412,7.398,23.657,7.7c-1.584,0.631-3.159,1.283-4.774,1.833c-0.512,0.173-1.026,0.35-1.53,0.549  c-0.479,0.191-0.956,0.391-1.436,0.58c-0.566,0.22-1.125,0.455-1.682,0.697c-0.359,0.156-0.711,0.321-1.066,0.483  c-0.001-0.431-0.381-0.787-0.805-0.787c-0.029,0-0.053,0.014-0.081,0.017c-0.118-0.079-0.251-0.137-0.401-0.137  c-0.368,0-0.732-0.025-1.1-0.049c-0.49-0.033-0.981-0.033-1.471-0.035c-0.516-0.002-1.03-0.033-1.543-0.049  c-0.555-0.018-1.109-0.031-1.662-0.033c-0.001,0-0.002,0-0.003,0c-0.429,0-0.785,0.361-0.785,0.788c0,0.115,0.03,0.223,0.077,0.324  c-0.002,0.093-0.003,0.186-0.004,0.279c-0.044-0.022-0.079-0.06-0.127-0.074c-0.104-0.028-0.208-0.033-0.313-0.018  c-0.208,0.005-0.419-0.018-0.625-0.023c-0.241-0.005-0.483-0.008-0.724-0.008c-0.121,0-0.241,0.001-0.362,0.002  c-0.24,0.002-0.452,0.114-0.602,0.283c-0.277,0.126-0.46,0.407-0.476,0.73c-0.037,0.767-0.039,1.536-0.068,2.304  c-0.023,0.59-0.039,1.18-0.035,1.769c0.008,0.997,0.037,1.997,0.006,2.992c-0.001,0.065-0.004,0.129-0.01,0.194  c-0.006,0.042-0.01,0.085-0.015,0.128C2.022,20.5,2,20.559,2,20.62c0,0.479,0.385,0.819,0.845,0.845  c0.395,0.019,0.788,0.019,1.183,0.004c0.295-0.012,0.604-0.05,0.901-0.034c0.017,0.004,0.033,0.009,0.049,0.015  c0.075,0.026,0.152,0.023,0.229,0.021c0.003,0.219,0.01,0.44-0.007,0.657c-0.029,0.35,0.249,0.641,0.571,0.739  c0.111,0.063,0.232,0.108,0.367,0.106c0.074-0.001,0.149-0.004,0.223-0.005c-0.017,0.456-0.008,0.911,0.024,1.368  c0.023,0.339,0.058,0.685,0.018,1.024c-0.025,0.204,0.103,0.448,0.243,0.588c0.095,0.095,0.216,0.155,0.343,0.194  c0.111,0.055,0.231,0.089,0.36,0.079c0.321-0.025,0.64-0.074,0.963-0.076c0.333-0.004,0.668,0.002,1-0.008  c0.592-0.014,1.181-0.012,1.771-0.018c0.22-0.002,0.44,0,0.66,0c0.38,0.002,0.759,0.002,1.139-0.012  c0.488-0.016,0.974-0.027,1.457,0.022c0.026,0.006,0.051,0.015,0.077,0.026c-0.018-0.008-0.037-0.016-0.056-0.024l0.001,0  c0.168,0.061,0.332,0.083,0.52,0.032c0.22-0.06,0.383-0.225,0.492-0.422c0.228-0.2,0.336-0.517,0.262-0.818  c-0.105-0.974-0.058-1.961-0.014-2.942c0.713,0.22,1.433,0.416,2.149,0.624c0.736,0.214,1.458,0.455,2.172,0.728  c0.697,0.265,1.403,0.49,2.114,0.714c0.551,0.173,1.102,0.346,1.649,0.539c0.541,0.189,1.076,0.389,1.629,0.545  c0.259,0.074,0.522,0.132,0.78,0.204c0.273,0.076,0.539,0.169,0.81,0.251c0.603,0.181,1.205,0.366,1.808,0.551  c0.35,0.107,0.714-0.085,0.884-0.395C29.846,25.609,30.018,25.379,29.998,25.092z M15.629,24.903l0,0.001c0,0,0-0.002-0.001-0.003  C15.628,24.902,15.628,24.903,15.629,24.903z M8.976,12.276c0.459,0.002,0.919,0.01,1.376,0.025  c0.393,0.015,0.786,0.026,1.177,0.072c0.011,0.002,0.023,0.003,0.034,0.005c0.011,0.643,0.034,1.286,0.036,1.93  c0.004,0.779-0.012,1.557-0.012,2.336c0,0.765,0.01,1.528,0.019,2.293c0.008,0.537,0.043,1.076,0.025,1.614  c-0.008,0.208,0.014,0.415,0.006,0.623c-0.004,0.102,0.004,0.203,0.01,0.305c-0.248,0.006-0.497,0.008-0.744,0.01  c-0.533,0.008-1.067,0.006-1.6,0.01c-0.506,0.004-1.012-0.002-1.518-0.014c-0.337-0.008-0.675-0.021-1.012-0.035  c0.003-0.179,0.004-0.359,0.003-0.538c-0.006-0.545,0-1.088,0.01-1.631c0.01-0.605,0.006-1.211,0.027-1.814  c0.027-0.769,0.014-1.538,0.035-2.306c0.016-0.547,0.049-1.094,0.066-1.641c0.011-0.402,0.044-0.804,0.076-1.206  c0.19-0.008,0.38-0.013,0.571-0.021C8.032,12.272,8.505,12.272,8.976,12.276z M3.594,19.829c0.005-0.098,0.011-0.197,0.012-0.295  c0.006-0.477,0.016-0.952,0.018-1.427c0.002-0.642,0.01-1.285,0.023-1.925c0.006-0.319,0.016-0.636,0.016-0.956  c-0.002-0.362,0.004-0.726,0.023-1.088c0.009-0.166,0.023-0.331,0.036-0.497c0.201-0.01,0.402-0.018,0.603-0.031  c0.132-0.01,0.265-0.021,0.397-0.033c0.113-0.01,0.228-0.029,0.343-0.019c0.107,0.009,0.208-0.015,0.301-0.058  c-0.004,0.208-0.004,0.416-0.014,0.624c-0.033,0.767-0.043,1.532-0.051,2.299c-0.004,0.368-0.002,0.736-0.006,1.105  c-0.004,0.368-0.045,0.734-0.053,1.102c-0.01,0.428-0.018,0.855-0.026,1.282c-0.01-0.001-0.018-0.007-0.028-0.007  C4.656,19.896,4.125,19.866,3.594,19.829z M13.206,24.474c-0.621,0.016-1.246,0.037-1.868,0.029c-0.339-0.004-0.679,0-1.02-0.012  c-0.162-0.006-0.327-0.018-0.489-0.002c-0.125,0.01-0.249,0.021-0.374,0.027c-0.341,0.014-0.681,0.006-1.02-0.002  c-0.144-0.003-0.288,0.002-0.432,0C7.987,23.987,8,23.46,8.043,22.934c0.444-0.009,0.888-0.018,1.333-0.015  c0.516,0.004,1.032-0.01,1.549-0.019c0.516-0.01,1.035-0.039,1.551-0.035c0.395,0.004,0.726-0.331,0.726-0.724  c0-0.093-0.02-0.184-0.054-0.269c0.018-0.198,0.028-0.396,0.024-0.594c0.071,0.014,0.143,0.027,0.215,0.036  c0.211,0.039,0.419,0.1,0.625,0.164c-0.004,0.679,0.025,1.356,0.039,2.036c0.008,0.321,0.014,0.642,0.008,0.963  c0,0.002,0,0.004,0,0.006c-0.121-0.003-0.241-0.015-0.362-0.015C13.533,24.467,13.369,24.47,13.206,24.474z M26.788,24.026  c-0.71-0.199-1.423-0.395-2.123-0.629c-0.36-0.121-0.716-0.251-1.078-0.368c-0.364-0.119-0.734-0.23-1.1-0.348  c-0.705-0.228-1.421-0.426-2.118-0.681c-0.539-0.197-1.078-0.387-1.625-0.557c-0.527-0.162-1.057-0.313-1.59-0.457  c-0.576-0.154-1.148-0.325-1.715-0.514c-0.505-0.168-1.019-0.326-1.517-0.517c-0.031-0.015-0.063-0.032-0.093-0.051  c-0.173-0.109-0.325-0.13-0.524-0.152c-0.056,0-0.104,0.031-0.157,0.042c-0.004-0.103-0.009-0.205-0.011-0.308  c-0.018-0.769-0.019-1.534-0.018-2.301c0.002-0.78-0.014-1.561-0.019-2.339c-0.003-0.416,0.007-0.831,0.018-1.247  c0.099-0.037,0.19-0.093,0.266-0.169c0.129-0.074,0.269-0.131,0.403-0.192c0.214-0.099,0.428-0.2,0.642-0.302  c0.391-0.185,0.788-0.357,1.187-0.525c0.712-0.29,1.43-0.562,2.143-0.847c0.775-0.309,1.559-0.59,2.345-0.866  c0.8-0.284,1.586-0.609,2.375-0.926c0.788-0.315,1.575-0.636,2.365-0.946c0.313-0.123,0.633-0.236,0.95-0.352  c0.317-0.117,0.635-0.241,0.958-0.345c0.509-0.162,1.029-0.298,1.541-0.455c-0.001,0.131-0.002,0.262-0.002,0.393  c0.002,0.535-0.023,1.07-0.012,1.606c0.014,0.716,0.023,1.432,0.012,2.151c-0.01,0.716-0.021,1.434-0.016,2.151  c0.004,0.761,0.031,1.522,0.039,2.285c0.008,0.763,0.027,1.528,0.066,2.289c0.08,1.555,0.084,3.112,0.097,4.667  c0.004,0.412,0.003,0.828-0.011,1.242C27.909,24.315,27.346,24.183,26.788,24.026z M23.215,20.511  c0.105,0.179,0.132,0.397,0.078,0.596c-0.072,0.261-0.28,0.469-0.541,0.541c-0.21,0.058-0.405,0.018-0.596-0.078  c-0.04-0.019-0.08-0.038-0.12-0.056c-0.539-0.217-1.096-0.398-1.645-0.586c-0.584-0.2-1.154-0.428-1.732-0.646  c-0.634-0.239-1.281-0.444-1.923-0.662c-0.286-0.099-0.57-0.195-0.862-0.278c-0.306-0.088-0.611-0.175-0.913-0.28  c-0.374-0.13-0.617-0.494-0.508-0.895c0.082-0.294,0.385-0.541,0.697-0.541c0.066,0,0.133,0.011,0.198,0.035  c0.621,0.23,1.246,0.455,1.87,0.675c0.65,0.23,1.31,0.434,1.964,0.652c0.611,0.202,1.222,0.405,1.832,0.615  c0.315,0.107,0.633,0.214,0.948,0.325c0.206,0.072,0.416,0.154,0.631,0.202c0.122,0.007,0.237,0.041,0.344,0.104  C23.054,20.303,23.147,20.395,23.215,20.511z"
        />
      </svg>
    </button>
  </div>
</template>

<script setup>
import { inject, ref } from "vue";
import { useStateStore } from "../store/state.js";
import { useVibrate } from "@vueuse/core";

const socket = inject("socket");
const state = useStateStore();
const activeMessage = ref(null);
const { vibrate, stop, isSupported } = useVibrate({ pattern: [50] })

const messages = ref([]);

function notify() {
  if(messages.value.length > 0) {
    return;
  }
  messages.value.push({});
  activeMessage.value = true;
  socket.emit("message", {
    to: state.room,
    type: "notify",
    data: { message: "Hello" },
  });
  vibrate();
  setTimeout(() => {
    activeMessage.value = false;
    messages.value.shift();
  }, 1000);
}
</script>
