<script setup>
import {
  defineAsyncComponent,
  inject,
  onMounted,
  ref,
  watchEffect,
  computed,
} from "vue";
import Reconnecting from "./views/Reconnecting.vue";

import Test from "./views/Test.vue";
import { useFullscreen } from "@vueuse/core";
import { useWakeLock } from "@vueuse/core";

import { useStateStore } from "./store/state.js";
const { isActive, request } = useWakeLock();

watchEffect(() => {
  if (!isActive.value) {
    try {
      request("screen");
    } catch (e) {}
  }
});

onMounted(() => {
  const profile = sessionStorage.getItem("profile");

  if (profile) {
    state.profile = JSON.parse(profile);
  }
});

const state = useStateStore();
const socket = inject("socket");

socket.on("token", ({ token }) => {
  sessionStorage.setItem("token", token);
});

socket.on("connect", () => {
  console.log("connected");
  state.reconnecting = false;

  if (state.room) {
    socket.emit("joinRoom", { room: state.room }, (response) => {
      if (response.error) {
        state.error = response.error;
        console.log(response.error);
        return;
      }
    });
  }
});

socket.on("disconnect", (reason) => {
  if (reason === "transport close") {
    state.reconnecting = true;
  }
});

const view = ref(null);
const finish = () => {
  if (view.value && view.value.send) view.value.send();
};

socket.on("message", (payload) => {
  const { type, data } = payload;
  switch (type) {
    case "profile":
      state.showConfig = true;
      state.colors = data.colors;
      break;
    case "controller":
      state.controller = payload.controller;
      state.data = data;
      break;
    case "state":
      state.data = { ...state.data, ...data };
      break;
    case "leave":
      switch (data.reason) {
        case "banned":
          state.room = null;
          state.controller = null;
          state.error = "Você foi expulso da sala";
          break;
        case "game-started":
          state.room = null;
          state.controller = null;
          state.error = "O jogo já começou, aguarde o fim da partida";
          break;
        case "finish":
          state.error = "A sala foi finalizada";
          break;
        default:
          state.error = "Você saiu da sala";
          break;
      }
      break;
    case "finish":
      finish();
      break;
    default:
      break;
  }
});

const scenes = {
  Home: defineAsyncComponent(() => import("./views/Home.vue")),
  FullScreen: defineAsyncComponent(() => import("./views/FullScreen.vue")),
  EditProfile: defineAsyncComponent(() => import("./views/EditProfile.vue")),
  Reconnecting,
  Prompt: defineAsyncComponent(() => import("./views/Prompt.vue")),
  Choice: defineAsyncComponent(() => import("./views/Choice.vue")),
  Draw: defineAsyncComponent(() => import("./views/Draw.vue")),
  Wait: defineAsyncComponent(() => import("./views/Wait.vue")),
};

const { isFullscreen, isSupported } = useFullscreen();

const currentScene = computed(() => {
  if (state.reconnecting) {
    return "Reconnecting";
  } else if (!state.room) {
    return "Home";
  } else if (!isFullscreen.value && isSupported.value) {
    return "FullScreen";
  } else if (state.showConfig) {
    return "EditProfile";
  } else if (!state.controller) {
    return "Wait";
  } else {
    return state.controller;
  }
});
</script>

<template>
  <div class="h-full" v-if="true">
    <component ref="view" :is="scenes[currentScene]" :key="currentScene" />
  </div>
  <Test v-else />
</template>

<style>
#app {
  height: 100vh;
}
</style>
