@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  .outiline-text-black {
    text-shadow: -0.1042rem -0.1042rem 0 black, 0.1042rem -0.1042rem 0 black,
      -0.1042rem 0.1042rem 0 black, 0.1042rem 0.1042rem 0 black;
  }
  .outiline-text-red {
    text-shadow: -0.1042rem -0.1042rem 0 red, 0.1042rem -0.1042rem 0 red,
      -0.1042rem 0.1042rem 0 red, 0.1042rem 0.1042rem 0 red;
  }
}

html,
body {
  -webkit-tap-highlight-color: transparent;

  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
